body{
	background:#E5F3FD;
	color:#0F5298;
	font-family:Georgia;
	font-weight:lighter;
}

h1{
	text-align: center;
	text-shadow: 2px 2px 5px black;
	background:#2E5984;
	color:white;
	margin:0px;
	padding:0px;
}

h3{
	text-align: center;
	text-shadow: 2px 2px 5px black;
	background:#528AAE;
	color:white;
	margin:0px;
	padding:0px;
}

.Headings{
	background:#73A5C6;
	text-shadow: 2px 2px 5px black;
	color:white;
}

#College{
	text-decoration:underline;
	font-weight:bold;
	
}

#skill-list{
	list-style-type:square;
}

/*
!!!Week 3 lab is below - Has 3 columns (flex driection), justified content (space between) and a media query (min width)!!!
*/
@media(min-width:668px){
	.container-1{
		display:flex;
		flex-direction:column;
		justify-content:space-between;
	}
	
	.container-2{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}	
}

.container-1 div, .container-2 div{
	border:1px #ccc solid;
	padding:5px;
}

img{
	width:250px;
	height:250px;
}

.deanpic{
	border-radius: 50%;
	max-width: 90px;
	max-height: 100px;
}
