body{
	font-family: Arial;
	background-color: #f2f2f2;
}

h1{
	text-align: center;
	color: black;
}

#header{
	width: 50%;
	margin: 20px auto;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.link{
	margin-bottom: 10px;
}

.link a{
	text-decoration: none;
	color: #3498db;
	font-weight: bold;
}

.link a:hover{
	color:red;
}